@import "tailwindcss";

:root {
  --background: #F9FAFB;
  --foreground: #111827;
  --primary: #6366F1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}